PORT=3001
DB_URL=
DB_SSL=false
DB_USER=
DB_HOST=localhost
DB_NAME=
DB_PASSWORD=
DB_PORT=5432

LOG_LEVEL=debug
LOG_TO_FILE=true
LOG_DIRECTORY=logs
LOG_SQL=true
LOG_SQL_PARAMS=false
SLOW_QUERY_MS=1000
JWT_SECRET=
JWT_EXPIRES_IN_SECONDS=28800
NIK_ENCRYPTION_KEY=
NIK_LOOKUP_KEY=
NIK_KEY_VERSION=1
